.container {
  padding: 1rem 0;
  width: 18rem;
  background-color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1.2rem;
}

.title {
  font-size: 1.4rem;
  color: #000;
}

.active {
  background: var(--accent);
  box-shadow: 0 0 3px #facc15, 0 0 6px #facc15, 0 0 12px #facc15;
}
