.container {
  position: fixed;
  right: 1.7rem;
  top: 1.7rem;
  background: var(--accent);
  padding: 1.5rem 1.5rem;
  font-size: 2.4rem;
  box-shadow: 0 10px 15px -3px rgba(255, 215, 0, 0.4),
    0 4px 6px -2px rgba(255, 215, 0, 0.2);

  border-radius: 1.2rem;

  z-index: 100;
  transition: all 0.3s;
}

.container:hover {
  box-shadow: 0 10px 15px -3px rgba(16, 185, 129, 0.3);
  transform: scale(1.04);
}
